:root {
    --max-size: 24;
    --min-size: 12;
    --diff: calc(var(--max-size) - var(--min-size));
    --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

html {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.endTurnBtn, .chiefOverlayBtn {
    width: 100%;
}


.btn {
    background-color: lightgrey;
    border: none;
    padding: 15px 32px;
    font-size: var(--responsive);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 15px;

    &:hover {
        cursor: pointer;
        transform: translateY(3px);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9)
    }

    &--small {
        width: auto;
        font-size: 15px;
        padding: 12px;
    }
}

.chiefOverlayBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        transform: translateX(-50%);
    }
}

aside {
    text-align: center;
    position: relative;
    width: 15vw;
    float: left;
    height: calc(100vh - 40px);
    padding: 20px 0 20px 20px;

    .teamPlayingColor {
        padding-top: 64%;
        background-position: 50%;
        background-size: cover;
        border-radius: 2vmin;
    }

    .redTeamColor {
        background-image: url('../images/red-team.jpeg');

        &.disabled {
            background-image: url('../images/red-team-disabled.jpeg');
        }
    }

    .blueTeamColor {
        background-image: url('../images/blue-team.jpeg');

        &.disabled {
            background-image: url('../images/blue-team-disabled.jpeg');
        }
    }
}

.matrix {
    width: 80vw;
    margin-left: 20vw;
}

aside > * {
    padding: 20px 0;
}

.chiefOverlay {
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index:2;
    opacity:0.98;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--responsive);
}

.chiefOverlayContent {
    background-color: white;
    opacity: 1;
    z-index:3;
    margin: 100px;
    padding: 24px;
    text-align:center;
}

.chiefOverlayContent > span {
    display: block;
}
.chiefOverlayContent > span.chiefURL {
    margin-bottom: 15px;
}

.codeWord {
    float: left;
    width: 14vw;
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
    border-radius: 2vmin;
    font-weight: 300;
    font-size: var(--responsive);
    cursor: pointer;
    margin: 1vh 1vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    user-select: none;
    transition: background-image 1s ease-in-out;
    position: relative;

    &.invisible {
        background: linear-gradient(to bottom, #C8B182, #E7D9BE);
        color: black;
    }

    &:not(.invisible) {
        color: transparent;
    }
}
